<footer>
        <h5 class="text-center">Contato</h5>
        <nav class="container-fluid d-flex flex-column">
            <% portfolio.contatos.forEach(contato => { %>
                <% if (contato.link) { %>
                    <a class="contato" href="<%= contato.link %>"><%= contato.nome %></a>
                <% } else if (contato.email) { %>
                    <p class="contato">Email: <%= contato.email %></p>
                <% } %>
            <% }); %>
        </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
