body {
    font-family: 'Arial', sans-serif;
    background-color: #1E1E1E;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: #8696fc;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    font-size: 2rem;
    color: #8696fc;
    margin-bottom: 10px;
}

p {
    font-size: 1.3rem;
    text-align: left;
}

header {
    display: flex;
    align-items: flex-start;  
    margin-bottom: 50px;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-left {
    flex: 0.6;
    display: flex;
    justify-content: center;
}

.header-right {
    flex: 2;
    display: flex;
    flex-direction: column 2;
    justify-content: space-between;
    
}
#name {
    text-align: left;
}
#contact {
    margin-right: 200px;
}
.photo-card {
    width: 220px;
    height: 220px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    color: #8696fc;
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid #8696fc;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    margin-bottom: 20px;
}

.button-link:hover {
    background-color: #8696fc;
    color: #1E1E1E;
}

.card {
    background-color: #2C2C2C;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin:25px;
    flex: 1;
}

.section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
}

#about {
    flex: 1;
    margin-right: 20px;
}

#skills {
    flex: 1;
    margin-left: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

dl {
    font-size: 1.2rem;
    padding-left: 15px;
}
strong{
    color: #86cffc; 
}
